# Basic

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

In [6]:
import pandas as pd
import numpy as np

In [10]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01  1.182479  0.664968  0.323213  2.305097
2000-01-02 -1.138444  0.108353  0.884600  0.356878
2000-01-03  2.520875 -0.243093  0.052008 -0.785325
2000-01-04  0.242788  0.129881  0.366186  0.551973
2000-01-05 -0.866127  0.136099  1.247861 -0.513284
2000-01-06 -0.061727 -1.041129 -0.310797 -0.797970
2000-01-07  0.417193 -0.341101 -1.403839  1.052076
2000-01-08  0.363772  0.500408  0.912365 -0.432277

In [14]:
np.random.randn(4, 2)

array([[-2.22874126,  0.36730774],
       [-0.53245981,  0.55111192],
       [ 0.22108814,  1.75776216],
       [-0.99927826, -0.52419944]])

In [20]:
s = df['A']
s

2000-01-01    1.182479
2000-01-02   -1.138444
2000-01-03    2.520875
2000-01-04    0.242788
2000-01-05   -0.866127
2000-01-06   -0.061727
2000-01-07    0.417193
2000-01-08    0.363772
Freq: D, Name: A, dtype: float64

In [21]:
df

                   A         B         C         D
2000-01-01  1.182479  0.664968  0.323213  2.305097
2000-01-02 -1.138444  0.108353  0.884600  0.356878
2000-01-03  2.520875 -0.243093  0.052008 -0.785325
2000-01-04  0.242788  0.129881  0.366186  0.551973
2000-01-05 -0.866127  0.136099  1.247861 -0.513284
2000-01-06 -0.061727 -1.041129 -0.310797 -0.797970
2000-01-07  0.417193 -0.341101 -1.403839  1.052076
2000-01-08  0.363772  0.500408  0.912365 -0.432277

In [24]:
df[['B', 'A']] = df[['A', 'B']]
df

                   A         B         C         D
2000-01-01  0.664968  1.182479  0.323213  2.305097
2000-01-02  0.108353 -1.138444  0.884600  0.356878
2000-01-03 -0.243093  2.520875  0.052008 -0.785325
2000-01-04  0.129881  0.242788  0.366186  0.551973
2000-01-05  0.136099 -0.866127  1.247861 -0.513284
2000-01-06 -1.041129 -0.061727 -0.310797 -0.797970
2000-01-07 -0.341101  0.417193 -1.403839  1.052076
2000-01-08  0.500408  0.363772  0.912365 -0.432277

In [25]:
df[['A', 'B']]

                   A         B
2000-01-01  0.664968  1.182479
2000-01-02  0.108353 -1.138444
2000-01-03 -0.243093  2.520875
2000-01-04  0.129881  0.242788
2000-01-05  0.136099 -0.866127
2000-01-06 -1.041129 -0.061727
2000-01-07 -0.341101  0.417193
2000-01-08  0.500408  0.363772

In [27]:
df.loc[:, ['B', 'A']] = df[['A', 'B']]
df[['A', 'B']]

                   A         B
2000-01-01  0.664968  1.182479
2000-01-02  0.108353 -1.138444
2000-01-03 -0.243093  2.520875
2000-01-04  0.129881  0.242788
2000-01-05  0.136099 -0.866127
2000-01-06 -1.041129 -0.061727
2000-01-07 -0.341101  0.417193
2000-01-08  0.500408  0.363772

In [30]:
df.loc[:, ['B', 'A']]

                   B         A
2000-01-01  1.182479  0.664968
2000-01-02 -1.138444  0.108353
2000-01-03  2.520875 -0.243093
2000-01-04  0.242788  0.129881
2000-01-05 -0.866127  0.136099
2000-01-06 -0.061727 -1.041129
2000-01-07  0.417193 -0.341101
2000-01-08  0.363772  0.500408

In [32]:
# The correct way to swap column values is by using raw values:
df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()
df[['A', 'B']]

                   A         B
2000-01-01  0.664968  1.182479
2000-01-02  0.108353 -1.138444
2000-01-03 -0.243093  2.520875
2000-01-04  0.129881  0.242788
2000-01-05  0.136099 -0.866127
2000-01-06 -1.041129 -0.061727
2000-01-07 -0.341101  0.417193
2000-01-08  0.500408  0.363772

In [33]:
df[['A', 'B']].to_numpy()

array([[ 0.66496838,  1.18247863],
       [ 0.10835251, -1.13844386],
       [-0.24309325,  2.52087548],
       [ 0.12988138,  0.24278758],
       [ 0.13609917, -0.86612673],
       [-1.04112941, -0.06172677],
       [-0.34110077,  0.41719319],
       [ 0.50040833,  0.36377201]])

# Attribute access

You may access an index on a Series or column on a DataFrame directly as an attribute:

In [34]:
sa = pd.Series([1, 2, 3], index=list('abc'))
dfa = df.copy()

In [35]:
sa.b

2

In [36]:
dfa.A

2000-01-01    0.664968
2000-01-02    0.108353
2000-01-03   -0.243093
2000-01-04    0.129881
2000-01-05    0.136099
2000-01-06   -1.041129
2000-01-07   -0.341101
2000-01-08    0.500408
Freq: D, Name: A, dtype: float64

In [37]:
sa.a = 5

In [38]:
sa

a    5
b    2
c    3
dtype: int64

In [40]:
dfa.A = list(range(len(dfa.index)))  # ok if A already exists
dfa

            A         B         C         D
2000-01-01  0  1.182479  0.323213  2.305097
2000-01-02  1 -1.138444  0.884600  0.356878
2000-01-03  2  2.520875  0.052008 -0.785325
2000-01-04  3  0.242788  0.366186  0.551973
2000-01-05  4 -0.866127  1.247861 -0.513284
2000-01-06  5 -0.061727 -0.310797 -0.797970
2000-01-07  6  0.417193 -1.403839  1.052076
2000-01-08  7  0.363772  0.912365 -0.432277

In [41]:
dfa['A'] = list(range(len(dfa.index)))  # use this form to create a new column
dfa

            A         B         C         D
2000-01-01  0  1.182479  0.323213  2.305097
2000-01-02  1 -1.138444  0.884600  0.356878
2000-01-03  2  2.520875  0.052008 -0.785325
2000-01-04  3  0.242788  0.366186  0.551973
2000-01-05  4 -0.866127  1.247861 -0.513284
2000-01-06  5 -0.061727 -0.310797 -0.797970
2000-01-07  6  0.417193 -1.403839  1.052076
2000-01-08  7  0.363772  0.912365 -0.432277

If you are using the IPython environment, you may also use tab-completion to see these accessible attributes.

You can also assign a dict to a row of a DataFrame:

In [43]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x.iloc[1] = {'x': 9, 'y': 99}
x

   x   y
0  1   3
1  9  99
2  3   5

You can use attribute access to modify an existing element of a Series or column of a DataFrame, but be careful; if you try to use attribute access to create a new column, it creates a new attribute rather than a new column. In 0.21.0 and later, this will raise a UserWarning:

In [44]:
df = pd.DataFrame({'one': [1., 2., 3.]})
df.two = [4, 5, 6]

C:\Users\anton\AppData\Local\Temp/ipykernel_6820/269534380.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.two = [4, 5, 6]

# Slicing ranges¶

The most robust and consistent way of slicing ranges along arbitrary axes is described in the Selection by Position section detailing the .iloc method. For now, we explain the semantics of slicing using the [] operator.

With Series, the syntax works exactly as with an ndarray, returning a slice of the values and the corresponding labels:

In [46]:
s[:5]

2000-01-01    0.664968
2000-01-02    0.108353
2000-01-03   -0.243093
2000-01-04    0.129881
2000-01-05    0.136099
Freq: D, Name: A, dtype: float64

In [47]:
s[::2]

2000-01-01    0.664968
2000-01-03   -0.243093
2000-01-05    0.136099
2000-01-07   -0.341101
Freq: 2D, Name: A, dtype: float64

In [48]:
s[::-1]

2000-01-08    0.500408
2000-01-07   -0.341101
2000-01-06   -1.041129
2000-01-05    0.136099
2000-01-04    0.129881
2000-01-03   -0.243093
2000-01-02    0.108353
2000-01-01    0.664968
Freq: -1D, Name: A, dtype: float64

Note that setting works as well:

In [50]:
s2 = s.copy()
s

2000-01-01    0.664968
2000-01-02    0.108353
2000-01-03   -0.243093
2000-01-04    0.129881
2000-01-05    0.136099
2000-01-06   -1.041129
2000-01-07   -0.341101
2000-01-08    0.500408
Freq: D, Name: A, dtype: float64

In [52]:
s2[:5] = 0
s2

2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06   -1.041129
2000-01-07   -0.341101
2000-01-08    0.500408
Freq: D, Name: A, dtype: float64

With DataFrame, slicing inside of [] slices the rows. This is provided largely as a convenience since it is such a common operation.

In [55]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01 -0.050140  1.076473 -0.093945  0.610184
2000-01-02  0.962852 -0.084459 -2.155151 -1.196110
2000-01-03  1.299529 -0.440893 -0.008780 -1.626305
2000-01-04 -1.164145  0.664059 -0.855540 -0.464053
2000-01-05  0.675156 -0.906903  1.382249  0.433756
2000-01-06 -1.006446  1.329696  0.494600 -0.248576
2000-01-07  0.015342 -0.370662  0.504209 -1.225993
2000-01-08  1.033851  0.530782 -0.491712  0.372451

In [56]:
df[:3]

                   A         B         C         D
2000-01-01 -0.050140  1.076473 -0.093945  0.610184
2000-01-02  0.962852 -0.084459 -2.155151 -1.196110
2000-01-03  1.299529 -0.440893 -0.008780 -1.626305

In [57]:
df[::-1]

                   A         B         C         D
2000-01-08  1.033851  0.530782 -0.491712  0.372451
2000-01-07  0.015342 -0.370662  0.504209 -1.225993
2000-01-06 -1.006446  1.329696  0.494600 -0.248576
2000-01-05  0.675156 -0.906903  1.382249  0.433756
2000-01-04 -1.164145  0.664059 -0.855540 -0.464053
2000-01-03  1.299529 -0.440893 -0.008780 -1.626305
2000-01-02  0.962852 -0.084459 -2.155151 -1.196110
2000-01-01 -0.050140  1.076473 -0.093945  0.610184

# Selection by label

In [59]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))

In [61]:
dfl.loc[2:3]

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [2] of type int

In [62]:
dfl.loc['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.149580  0.429844  0.911828  2.233692
2013-01-03  0.621041  0.691935  0.504738  1.320078
2013-01-04  1.569715  0.030128 -0.287735 -1.275101

The .loc attribute is the primary access method. The following are valid inputs:

* A single label, e.g. 5 or 'a' (Note that 5 is interpreted as a label of the index. This use is not an integer position along the index.).

* A list or array of labels ['a', 'b', 'c'].

* A slice object with labels 'a':'f' (Note that contrary to usual Python slices, both the start and the stop are included, when present in the index! See Slicing with labels.

* A boolean array.

* A callable, see Selection By Callable.

In [63]:
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))
s1

a   -0.223974
b    0.479441
c    0.027489
d    0.695164
e    0.702256
f   -0.865982
dtype: float64

In [64]:
s1.loc['c']

0.027489440164917188

In [65]:
s1.loc['c':]

c    0.027489
d    0.695164
e    0.702256
f   -0.865982
dtype: float64

In [66]:
s1.loc['b']

0.4794411714451383

Note that setting works as well:

In [68]:
s1.loc['c':] = 0
s1

a   -0.223974
b    0.479441
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

With a DataFrame:

In [69]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df1

          A         B         C         D
a  0.941896  0.771570 -0.183690  0.862074
b -0.663093 -0.495730 -2.740698 -0.838028
c -0.727237  0.299311  0.447136 -0.863866
d -0.761210  1.366223  0.727191  0.667157
e -0.551177  0.853732 -0.519118  0.765770
f  0.603090  1.092520  1.214127 -0.109132

In [70]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  0.941896  0.771570 -0.183690  0.862074
b -0.663093 -0.495730 -2.740698 -0.838028
d -0.761210  1.366223  0.727191  0.667157

Accessing via label slices:

In [71]:
df1.loc['d':, 'A':'C']

          A         B         C
d -0.761210  1.366223  0.727191
e -0.551177  0.853732 -0.519118
f  0.603090  1.092520  1.214127

For getting a cross section using a label (equivalent to df.xs('a')):

In [72]:
df1.loc['a']

A    0.941896
B    0.771570
C   -0.183690
D    0.862074
Name: a, dtype: float64

For getting values with a boolean array:

In [73]:
df1.loc['a'] > 0

A     True
B     True
C    False
D     True
Name: a, dtype: bool

In [74]:
df1.loc[:, df1.loc['a'] > 0]

          A         B         D
a  0.941896  0.771570  0.862074
b -0.663093 -0.495730 -0.838028
c -0.727237  0.299311 -0.863866
d -0.761210  1.366223  0.667157
e -0.551177  0.853732  0.765770
f  0.603090  1.092520 -0.109132

NA values in a boolean array propagate as False:

In [76]:
mask = pd.array([True, False, True, False, pd.NA, False], dtype="boolean")
mask

<BooleanArray>
[True, False, True, False, <NA>, False]
Length: 6, dtype: boolean

In [77]:
df1[mask]

          A         B         C         D
a  0.941896  0.771570 -0.183690  0.862074
c -0.727237  0.299311  0.447136 -0.863866

For getting a value explicitly:

In [78]:
# this is also equivalent to ``df1.at['a','A']``
df1.loc['a', 'A']

0.9418955352552005

# Slicing with labels

When using .loc with slices, if both the start and the stop labels are present in the index, then elements located between the two (including them) are returned:

In [95]:
s = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4], name='t')
s

0    a
3    b
2    c
5    d
4    e
Name: t, dtype: object

In [90]:
s.loc[3:5]

3    b
2    c
5    d
dtype: object

In [91]:
s.sort_index()

0    a
2    c
3    b
4    e
5    d
dtype: object

If at least one of the two is absent, but the index is sorted, and can be compared against start and stop labels, then slicing will still work as expected, by selecting labels which rank between the two:

In [92]:
s.sort_index().loc[1:6]

2    c
3    b
4    e
5    d
dtype: object

However, if at least one of the two is absent and the index is not sorted, an error will be raised (since doing otherwise would be computationally expensive, as well as potentially ambiguous for mixed type indexes). For instance, in the above example, s.loc[1:6] would raise KeyError.

For the rationale behind this behavior, see Endpoints are inclusive.

In [97]:
s = pd.Series(list('abcdef'), index=[0, 3, 2, 5, 4, 2])
s.loc[3:5]

3    b
2    c
5    d
dtype: object

# Selection by position

pandas provides a suite of methods in order to get purely integer based indexing. The semantics follow closely Python and NumPy slicing. These are 0-based indexing. When slicing, the start bound is included, while the upper bound is excluded. Trying to use a non-integer, even a valid label will raise an IndexError.

The .iloc attribute is the primary access method. The following are valid inputs:

* An integer e.g. 5.

* A list or array of integers [4, 3, 0].

* A slice object with ints 1:7.

* A boolean array.

* A callable, see Selection By Callable.

In [99]:
s1 = pd.Series(np.random.randn(5), index=list(range(0, 10, 2)))
s1

0    0.437571
2    0.440543
4    0.379588
6    1.724954
8    1.042802
dtype: float64

In [100]:
s1.iloc[:3]

0    0.437571
2    0.440543
4    0.379588
dtype: float64

In [101]:
s1.iloc[3]

1.7249543311967463

Note that setting works as well:

In [102]:
s1.iloc[:3] = 0

With a DataFrame:

In [104]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 8, 2)))
df1

           0         2         4         6
0   1.032568  0.233915 -2.205851  1.205431
2  -1.200486 -0.668809  0.630594 -0.393405
4   1.712754 -0.290609  0.811131  1.934603
6  -0.180442 -1.032034  0.737302 -2.010464
8   0.759616  0.259130  1.268509  0.273875
10  0.507416 -1.676353 -0.463842  0.722684

In [105]:
df1.iloc[:3]

          0         2         4         6
0  1.032568  0.233915 -2.205851  1.205431
2 -1.200486 -0.668809  0.630594 -0.393405
4  1.712754 -0.290609  0.811131  1.934603

In [131]:
df1.iloc[1:5, 2:4]

          4         6
2  0.630594 -0.393405
4  0.811131  1.934603
6  0.737302 -2.010464
8  1.268509  0.273875

Select via integer list:

In [132]:
df1.iloc[[1, 3, 5], [1, 3]]

           2         6
2  -0.668809 -0.393405
6  -1.032034 -2.010464
10 -1.676353  0.722684

In [108]:
df1.iloc[1:3, :]

          0         2         4         6
2 -1.200486 -0.668809  0.630594 -0.393405
4  1.712754 -0.290609  0.811131  1.934603

In [109]:
df1.iloc[:, 1:3]

           2         4
0   0.233915 -2.205851
2  -0.668809  0.630594
4  -0.290609  0.811131
6  -1.032034  0.737302
8   0.259130  1.268509
10 -1.676353 -0.463842

In [110]:
# this is also equivalent to ``df1.iat[1,1]``
df1.iloc[1, 1]

-0.6688087726316412

For getting a cross section using an integer position (equiv to df.xs(1)):

In [133]:
df1

           0         2         4         6
0   1.032568  0.233915 -2.205851  1.205431
2  -1.200486 -0.668809  0.630594 -0.393405
4   1.712754 -0.290609  0.811131  1.934603
6  -0.180442 -1.032034  0.737302 -2.010464
8   0.759616  0.259130  1.268509  0.273875
10  0.507416 -1.676353 -0.463842  0.722684

In [112]:
#выбирается строка с индексом 1
df1.iloc[1]

0   -1.200486
2   -0.668809
4    0.630594
6   -0.393405
Name: 2, dtype: float64

Out of range slice indexes are handled gracefully just as in Python/NumPy

In [134]:
# these are allowed in Python/NumPy.
x = list('abcdef')
x

['a', 'b', 'c', 'd', 'e', 'f']

In [135]:
x[4:10]

['e', 'f']

In [136]:
x[8:10]

[]

In [137]:
s = pd.Series(x)
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [138]:
s.iloc[4:10]

4    e
5    f
dtype: object

In [139]:
s.iloc[8:10]

Series([], dtype: object)

Note that using slices that go out of bounds can result in an empty axis (e.g. an empty DataFrame being returned).

In [120]:
dfl = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))

In [140]:
dfl

          A         B
0 -0.685010  0.304133
1  0.381071 -0.524713
2 -0.191428  0.089492
3  0.133006  1.082230
4 -0.066596 -0.833550

In [141]:
dfl.iloc[:, 2:3]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [142]:
dfl.iloc[:, 1:3]

          B
0  0.304133
1 -0.524713
2  0.089492
3  1.082230
4 -0.833550

In [148]:
dfl.iloc[4:6]

          A        B
4 -0.066596 -0.83355

A single indexer that is out of bounds will raise an IndexError. A list of indexers where any element is out of bounds will raise an IndexError.

In [144]:
dfl.iloc[[4, 5, 6]]

IndexError: positional indexers are out-of-bounds

In [128]:
dfl.iloc[:, 4]

IndexError: single positional indexer is out-of-bounds

# Selection by callable

.loc, .iloc, and also [] indexing can accept a callable as indexer. The callable must be a function with one argument (the calling Series or DataFrame) that returns valid output for indexing.

In [150]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                                    index=list('abcdef'),
                   columns=list('ABCD'))

          A         B         C         D
0  0.734075 -0.005928 -0.323794 -2.160807
1  1.002452 -0.091138  0.694609  0.425727
2  1.088953 -0.206797  0.146707  0.591581
3 -0.455402 -1.380341  0.627002 -0.188012
4  0.443311  0.244677 -1.231931 -1.506003
5  0.147286  1.117738  0.089836 -0.230859

In [151]:
df1.loc[lambda df: df['A'] > 0, :]

          A         B         C         D
0  0.734075 -0.005928 -0.323794 -2.160807
1  1.002452 -0.091138  0.694609  0.425727
2  1.088953 -0.206797  0.146707  0.591581
4  0.443311  0.244677 -1.231931 -1.506003
5  0.147286  1.117738  0.089836 -0.230859

In [154]:
df1.loc[:, lambda df: ['A', 'B']]

          A         B
0  0.734075 -0.005928
1  1.002452 -0.091138
2  1.088953 -0.206797
3 -0.455402 -1.380341
4  0.443311  0.244677
5  0.147286  1.117738

In [153]:
df1.iloc[:, lambda df: [0, 1]]

          A         B
0  0.734075 -0.005928
1  1.002452 -0.091138
2  1.088953 -0.206797
3 -0.455402 -1.380341
4  0.443311  0.244677
5  0.147286  1.117738

In [155]:
df1[lambda df: df.columns[0]]

0    0.734075
1    1.002452
2    1.088953
3   -0.455402
4    0.443311
5    0.147286
Name: A, dtype: float64

You can use callable indexing in Series.

In [156]:
df1['A'].loc[lambda s: s > 0]

0    0.734075
1    1.002452
2    1.088953
4    0.443311
5    0.147286
Name: A, dtype: float64

Using these methods / indexers, you can chain data selection operations without using a temporary variable.

In [162]:
bb = pd.read_csv('data/baseball.csv', index_col='id')
bb.

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [161]:
(bb.groupby(['year', 'team']).sum()
   .loc[lambda df: df['r'] > 100])

           stint    g    ab    r    h  X2b  X3b  hr    rbi    sb   cs   bb  \
year team
2007 CIN       6  379   745  101  203   35    2  36  125.0  10.0  1.0  105
     DET       5  301  1062  162  283   54    4  37  144.0  24.0  7.0   97
     HOU       4  311   926  109  218   47    6  14   77.0  10.0  4.0   60
     LAN      11  413  1021  153  293   61    3  36  154.0   7.0  5.0  114
     NYN      13  622  1854  240  509  101    3  61  243.0  22.0  4.0  174
     SFN       5  482  1305  198  337   67    6  40  171.0  26.0  7.0  235
     TEX       2  198   729  115  200   40    4  28  115.0  21.0  4.0   73
     TOR       4  459  1408  187  378   96    2  58  223.0   4.0  2.0  190

              so   ibb   hbp    sh    sf  gidp
year team
2007 CIN   127.0  14.0   1.0   1.0  15.0  18.0
     DET   176.0   3.0  10.0   4.0   8.0  28.0
     HOU   212.0   3.0   9.0  16.0   6.0  17.0
     LAN   141.0   8.0   9.0   3.0   8.0  29.0
     NYN   310.0  24.0  23.0  18.0  15.0  48.0
     SFN   188.0  51.0   8.0  16.0   6.0  41.0
     TEX   140.0   4.0   5.0   2.0   8.0  16.0
     TOR   265.0  16.0  12.0   4.0  16.0  38.0

In [185]:
bb.columns, bb.columns[:-1]

(Index(['player', 'year', 'stint', 'team', 'lg', 'g', 'ab', 'r', 'h', 'X2b',
        'X3b', 'hr', 'rbi', 'sb', 'cs', 'bb', 'so', 'ibb', 'hbp', 'sh', 'sf',
        'gidp'],
       dtype='object'),
 Index(['player', 'year', 'stint', 'team', 'lg', 'g', 'ab', 'r', 'h', 'X2b',
        'X3b', 'hr', 'rbi', 'sb', 'cs', 'bb', 'so', 'ibb', 'hbp', 'sh', 'sf'],
       dtype='object'))

In [184]:
for v1, v2 in enumerate(bb.columns[:-1]):
    print(v1, v2)

0 player
1 year
2 stint
3 team
4 lg
5 g
6 ab
7 r
8 h
9 X2b
10 X3b
11 hr
12 rbi
13 sb
14 cs
15 bb
16 so
17 ibb
18 hbp
19 sh
20 sf

# Combining positional and label-based indexing

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#combining-positional-and-label-based-indexing

If you wish to get the 0th and the 2nd elements from the index in the ‘A’ column, you can do:

In [164]:
dfd = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]},
                   index=list('abc'))
dfd

   A  B
a  1  4
b  2  5
c  3  6

In [165]:
dfd.loc[dfd.index[[0, 2]], 'A']

a    1
c    3
Name: A, dtype: int64

In [166]:
dfd.index[[0, 2]]

Index(['a', 'c'], dtype='object')

This can also be expressed using .iloc, by explicitly getting locations on the indexers, and using positional indexing to select things.

In [167]:
dfd.iloc[[0, 2], dfd.columns.get_loc('A')]

a    1
c    3
Name: A, dtype: int64

For getting multiple indexers, using .get_indexer:

In [168]:
dfd.iloc[[0, 2], dfd.columns.get_indexer(['A', 'B'])]

   A  B
a  1  4
c  3  6

# Indexing with list with missing labels is deprecated

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-with-list-with-missing-labels-is-deprecated

In prior versions, using .loc[list-of-labels] would work as long as at least 1 of the keys was found (otherwise it would raise a KeyError). This behavior was changed and will now raise a KeyError if at least one label is missing. The recommended alternative is to use .reindex().

For example.

In [172]:
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

Selection with all keys found is unchanged.

In [171]:
s.loc[[1, 2]]

1    2
2    3
dtype: int64

Previous behavior

In [173]:
s.loc[[1, 2, 3]]

# Passing list-likes to .loc with any non-matching elements will raise
# KeyError in the future, you can use .reindex() as an alternative.

# See the documentation here:
# https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

KeyError: '[3] not in index'

# Reindexing

The idiomatic way to achieve selecting potentially not-found elements is via .reindex(). See also the section on reindexing.

In [174]:
s.reindex([1, 2, 3])

1    2.0
2    3.0
3    NaN
dtype: float64

Alternatively, if you want to select only valid keys, the following is idiomatic and efficient; it is guaranteed to preserve the dtype of the selection.

In [176]:
labels = [1, 2, 3]
s.loc[s.index.intersection(labels)]

1    2
2    3
dtype: int64

Having a duplicated index will raise for a .reindex():

In [178]:
s = pd.Series(np.arange(4), index=['a', 'a', 'b', 'c'])
labels = ['c', 'd']
s.reindex(labels)

ValueError: cannot reindex from a duplicate axis