https://riptutorial.com/pandas/example/23978/what-is-the-difference-between-join-and-merge

https://riptutorial.com/ru/pandas/example/23978/%D0%B2-%D1%87%D0%B5%D0%BC-%D1%80%D0%B0%D0%B7%D0%BD%D0%B8%D1%86%D0%B0-%D0%BC%D0%B5%D0%B6%D0%B4%D1%83-%D0%BE%D0%B1%D1%8A%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%D0%BC-%D0%B8-%D0%BE%D0%B1%D1%8A%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%D0%BC

# What is the difference between join and merge

In [69]:
import pandas as pd

In [86]:
left = pd.DataFrame([['a', 1], ['b', 2]], list('XY'), list('AB'))
left

   A  B
X  a  1
Y  b  2

In [87]:
right = pd.DataFrame([['a', 3], ['b', 4]], list('XY'), list('AC'))
right

   A  C
X  a  3
Y  b  4

In [88]:
left.join(right, lsuffix='_')

  A_  B  A  C
X  a  1  a  3
Y  b  2  b  4

In [73]:
left.join(right.reset_index(), lsuffix='_', how='outer')

    A_    B index    A    C
X    a  1.0   NaN  NaN  NaN
Y    b  2.0   NaN  NaN  NaN
0  NaN  NaN     X    a  3.0
1  NaN  NaN     Y    b  4.0

In [74]:
left

   A  B
X  a  1
Y  b  2

In [75]:
right

   A  C
X  a  3
Y  b  4

In [76]:
# We can tell join to use a specific column in the left dataframe to use as the join key, but it will still use the index from the right.
left.reset_index().join(right, on='index', lsuffix='_')

  index A_  B  A  C
0     X  a  1  a  3
1     Y  b  2  b  4

# merge

Think of merge as aligning on columns. By default merge will look for overlapping columns in which to merge on. merge gives better control over merge keys by allowing the user to specify a subset of the overlapping columns to use with parameter on, or to separately allow the specification of which columns on the left and which columns on the right to merge by.

merge will return a combined dataframe in which the index will be destroyed.

This simple example finds the overlapping column to be 'A' and combines based on it.

In [77]:
left

   A  B
X  a  1
Y  b  2

In [78]:
right

   A  C
X  a  3
Y  b  4

In [79]:
left.merge(right)

   A  B  C
0  a  1  3
1  b  2  4

In [80]:
right

   A  C
X  a  3
Y  b  4

In [81]:
right.iloc[[0],[0]] = 'test'
right

      A  C
X  test  3
Y     b  4

In [82]:
left.merge(right)

   A  B  C
0  b  2  4