In [2]:
import pandas as pd

In [151]:
d = {'date' : ['2020-02-01', '2020-02-01', '2020-02-01', '2020-02-01', '2020-02-02', '2020-02-02', '2020-02-02'], 'type' : ['Bird', 'Dog', 'Cat', 'Bird', 'Dog', 'Cat', 'Bird'], 'weight' :  [1, 2, 3, 4, 5, 6, 7]}
df = pd.DataFrame(d)
df

         date  type  weight
0  2020-02-01  Bird       1
1  2020-02-01   Dog       2
2  2020-02-01   Cat       3
3  2020-02-01  Bird       4
4  2020-02-02   Dog       5
5  2020-02-02   Cat       6
6  2020-02-02  Bird       7

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    7 non-null      object
 1   type    7 non-null      object
 2   weight  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [153]:
test = df.pivot_table(index='date', columns='type', values='weight', aggfunc='mean')

In [156]:
test.columns

Index(['Bird', 'Cat', 'Dog'], dtype='object', name='type')

In [160]:
test

type        Bird  Cat  Dog
date
2020-02-01   2.5  3.0  2.0
2020-02-02   7.0  6.0  5.0

In [165]:
test.Bird.index

Index(['2020-02-01', '2020-02-02'], dtype='object', name='date')

In [168]:
df.columns

Index(['date', 'type', 'weight'], dtype='object')