In [59]:
import pandas as pd
import numpy as np
dict = {'a': [1, 2, np.nan, 4], 'b': [4, 5, np.nan, np.nan], 'c':[np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(dict)

In [60]:
df

     a    b   c
0  1.0  4.0 NaN
1  2.0  5.0 NaN
2  NaN  NaN NaN
3  4.0  NaN NaN

In [69]:
import numpy as np
df.drop(index = np.where(df[['a', 'b']].isna())[0])

     a    b   c
0  1.0  4.0 NaN
1  2.0  5.0 NaN

In [70]:
dict = {'a': [1, 2, np.nan, 4], 'b': [4, 5, np.nan, np.nan], 'c':[np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(dict)

In [71]:
df

     a    b   c
0  1.0  4.0 NaN
1  2.0  5.0 NaN
2  NaN  NaN NaN
3  4.0  NaN NaN

In [72]:
df.dropna(thresh=len(df.columns) - 1)

     a    b   c
0  1.0  4.0 NaN
1  2.0  5.0 NaN