In [1]:
import pandas as pd

In [2]:
d1 = {'col1': [0, 1, 0, 1, 1], 'col2': [0, 2, 1, 2, 1]}

In [4]:
df = pd.DataFrame(d1)

In [5]:
df

   col1  col2
0     0     0
1     1     2
2     0     1
3     1     2
4     1     1

In [14]:
type(df.isin([0, 1]).all().values)

numpy.ndarray

In [28]:
s = df.isin([0, 1]).all()

In [29]:
s

col1     True
col2    False
dtype: bool

In [36]:
type()

pandas.core.series.Series

In [37]:
s_02 = s[s == True]

In [38]:
s_02

col1    True
dtype: bool

In [42]:
s_03 = s_02.index.to_numpy()

In [43]:
s_03

array(['col1'], dtype=object)

In [45]:
type(s_03)

numpy.ndarray